# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/

# Virtual environments
venv/
env/
upgini_env/
anaconda_projects/

# Database
*.db

# Logs
*.log

# GDELT data
gdelt_2months/
gdelt_api_test/
gdelt_test/
gdelt_test_raw/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/

# OS
.DS_Store
